<header class="header">
  <h1>
    <a routerLink="/" class="home-link">
      <img src="favicon.ico" alt="" height="30" />
    </a>
    <a routerLink="/" class="home-link">BomERP</a>
  </h1>
</header>

<div class="body">
  <aside class="sidebar">
    <nav>
      <a routerLink="/catalogo/categorias" routerLinkActive="active">Categorías</a>
      <br>
      <a routerLink="/catalogo/productos" routerLinkActive="active">Productos</a>
    </nav>
  </aside>

  <main class="content">
    <router-outlet />
  </main>
</div>